* {
  color: #fff;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  background: linear-gradient(
    45deg,
    lightgreen,
    rgb(169, 149, 249),
    rgb(248, 157, 157)
  );
  min-height: 100vh;
  font-size: 25px;
}

.container > div {
  color: #fff;
  background-color: rgba(0, 0, 255, 0.2);
  border: 2px solid rgb(17, 37, 21);
  padding: 20px;
  margin: 10px;

  border-radius: 0.2em;
  text-align: center;
  transition: ease-in-out 0.9s;
}
.container > div:hover {
  background-color: rgba(0, 255, 0, 0.2);

  transition: ease-in-out 0.2s;
  color: black;
}
